@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Mona Sans';
	src: url('Mona-Sans.woff2') format('woff2 supports variations'),
		url('Mona-Sans.woff2') format('woff2-variations');
	font-weight: 200 900;
	font-stretch: 75% 125%;
}

html {
	font-family: 'Mona Sans', sans-serif;
}

body {
	background-color: #fafafa;
	/* font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		sans-serif; */
	margin: 0;
}
